@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Funnel+Display:wght@300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10vh;
    height: 100vh;
    font-family: Chiron GoRound TC;
    background-color: #323F4B;
    color: #F59800;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

details {
    
    font-size: 20px;
    color: #f9d59b;
    max-width: 500px;
    
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    border-radius: 5%;
    
    
}

summary{
    font-size: 30px;
    line-height: 150%;
    color: #F59800;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
summary::marker{
    content: '';
}
summary::after{
    content: '+';
    transition: transform 200ms ease;
}
details[open] summary::after {
    transform: rotate(45deg);
}
::details-content{
    transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height: 0;
    overflow: clip;
}

:root{
    interpolate-size:allow-keywords;
}
[open]::details-content {
    height: auto;
}

@media (max-width: 320px) {
.text{
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

details {
    
    font-size: 14px;
    max-width: 280px;
    
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 280px;
    
}

summary{
    font-size: 20px;
}
}

@media (max-width: 820px) {

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

details {
    
    font-size: 20px;
    max-width: 500px;
    
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    
}

summary{
    font-size: 28px;
}
}